body{
    background-color: rgb(134, 131, 131);
    font-family: "Open Sans", sans-serif;
}
#calculator{
    width: 320px;
    height: 520px;
    background-color: rgb(221, 221, 221);
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.6), 0px 5px 30px 0 rgba(0, 0, 0, 0.3);
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    color: rgba(92, 88, 88, 0.897);
    padding-top: 20px;
    margin: 0px 20px;
}

#output{
    text-align: right;
    margin:10px 20px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: black;
}
#keyboard{
    height: 400px;
}
.operator, .empty, .number{
    height: 50px;
    width: 50px;
    margin: 15px;
    border : none;
    border-radius: 50%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
}
.number, .operator{
    cursor: pointer;
}
.operator{
    background-color: rgb(197, 192, 192);
}
.operator:nth-child(4){
    background-color: rgb(233, 142, 23);
}
.operator:nth-child(8){
    background-color: rgb(38, 24, 233);
}
.operator:nth-child(12){
    background-color: rgb(186, 21, 219);
}
.operator:nth-child(16){
    background-color: rgb(226, 28, 28);
}
.operator:nth-child(20){
    background-color: rgb(29, 221, 132);
}
button:active{
    font-size: 13px;
}